* {
    --foreground: #e8e6e3;
    --background: #181a1b;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
}


.navbar {
    background-color: #212121;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    height: 35px;
}

.navbar-button {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.navbar-button .in{
    font-size: 30px;
    height: 26px;
    font-family: "BroLink";
    border-radius: 5px;
}
.navbar-button .in:hover{
    background-color: #3a3a3a;
}

.navbar-button a{
    color: white;
    text-decoration: none;
}

.navbar-spacer {
    flex-grow: 30;
}

.welcometext {
    background-color: purple;
}

.welcome-image {
    position: relative;
    text-align: center;
    background-color: black;
    height: 100%;
}

.welcome-image div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.welcome-image div svg {
    opacity: 1;
}

.welcome-image img{
    opacity: 0.5;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.install-button {
    background-color: DodgerBlue;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.install-button:hover {
    background-color: RoyalBlue;
}

.wide {
    width: 100%;
    text-align: center;
}

.learn-more-button {
    background-color: rgb(17, 87, 17);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.learn-more-button:hover {
    background-color: rgb(12, 65, 12);
}

/* Hide scrollbar */
html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* End hide scrollbar */

.learn-more {
    background-color: #181a1b;
    color: var(--foreground);
    width: 80%;
    margin: 0 auto;
}

.learn-more h1 {
    text-align: center;
}

.blockelement {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}